<ion-view view-title="New List">
    <ion-content class="padding">

        <div class="list">

            <div class="list" ng-form="nameForm">
                <label class="item item-input">
                    <input type="text" placeholder="List Name" ng-model="list.name" name="name" required>
                </label>
                <div ng-messages="nameForm.name.$error" ng-show="nameForm.name.$touched && nameForm.name.$invalid">
                    <div ng-message="required" class="assertive">This is required.</div>
                </div>
            </div>

            <div class="item item-divider">Vegetables</div>
            <ion-checkbox ng-repeat="vegetable in vegetables" ng-model="vegetable.checked">{{vegetable.name}}</ion-checkbox>

            <span class="padding"></span>

            <div class="item item-divider">Fruits</div>
            <ion-checkbox ng-repeat="fruit in fruits" ng-model="fruit.checked">{{fruit.name}}</ion-checkbox>

            <span class="padding"></span>

            <div class="item item-divider">Others</div>
            <ion-checkbox ng-repeat="other in others" ng-model="other.checked">{{other.name}}</ion-checkbox>

            <span class="padding" style="display:block"></span>
            <span class="padding" style="display:block"></span>

            <div class="text-center">
                <button class="button button-stable" ng-click="addItem()">Add more items</button>
                <button class="button button-assertive" ng-click="cleanAll()">Clean All</button>
                <button class="button button-balanced" ng-disabled="nameForm.$invalid" ng-click="saveList()">Save List</button>
            </div>

            <span class="padding" style="display:block"></span>

            <div class="list" ng-show="addItemClicked" ng-form="addItemForm">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Item name" ng-model="newItem.name" name="item" required>
                    </label>
                    <button class="button button-calm" ng-click="saveItem()" ng-disabled="addItemForm.$invalid">Add</button>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
