<ion-view view-title="List">
    <ion-content class="padding">

        <div class="list">

            <div class="item item-divider">Vegetables</div>
            <ion-checkbox ng-repeat="vegetable in vegetables" ng-model="isChecked">{{vegetable}}</ion-checkbox>

            <span class="padding"></span>

            <div class="item item-divider">Fruits</div>
            <ion-checkbox ng-repeat="fruit in fruits" ng-model="isChecked">{{fruit}}</ion-checkbox>

            <span class="padding"></span>

            <div class="item item-divider">Others</div>
            <ion-checkbox ng-repeat="other in others" ng-model="isChecked">{{other}}</ion-checkbox>

        </ion-content>
    </ion-view>
